{% extends 'base.html' %}
{% block content %}

<head>
    <title>Display List of pseudoCIDs</title>
</head>
<body>
    <h1>List of pseudoCIDs:</h1>
        <select>
            {% if records %}
                <option selected disabled="true">-- Select --</option>
                <option value="All"></option>
                {% for record in records %}
                    <option value="{{record.PseudoCID }}">{{record.PseudoCID}}</option>
                {% endfor %}
            {% endif %}
        </select>
</body>
{% endblock %}