{% extends 'base.html' %}
{% block content %}

<h1> DID Order Form - Displayed Summary Results </h1>

<form method="post" action="{% url 'DID_OrderForm' %}">
    {% csrf_token %}

    <table class="table table-striped table-hover table-bordered">
        <thead class="table-dark">
            <tr>
                <th scope="col">PseudoCID</th>
                <th scope="col">Client Description</th>
                <th scope="col">States</th>
                <th scope="col">Total DID's</th>
                <th scope="col">Carrier</th>
            </tr>
        </thead>
        <tbody>
            {% if order_pseudoCIDs %}
                {% for record in order_pseudoCIDs %}
                    <tr>            
                        <td>{{ record.PseudoCID }}</td>
                        <td>{{ record.Client_Description }}</td>
                        <td>{{ order_info.Sel_States }}</td>
                        <td>{{ record.DID_CNT }}</td>                    
                        <td>{{ order_info.Carrier }}</td>
                    </tr>
                {% endfor %}
            {% endif %}
        </tbody>
    </table>
    <div class="button-container">
        <button type="submit" class="btn btn-primary" name="action" value="complete">Complete Order</button>
        <button type="submit" class="btn btn-secondary" name="action" value="add_to_order">Add To Order</button>
        <button type="submit" class="btn btn-secondary" name="action" value="cancel">Delete/Start Over</button>
    </div>
</form>

{% endblock %}