h1, h2, h3 {
    color: red;
  }
  
/* Define styles for the form group */
.form-group {
  margin-bottom: 1rem;
  display: inline-block;
  vertical-align: top;
  width: 45%;
}

.form-group select {
  height: 2rem;
}

/* Define styles for the button group */
.button-group {
  display: inline-block;
  vertical-align: top;
  width: 50%;
}

.button-group button {
  margin-right: 0.5rem;
}
